<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="NormalFile" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${message}" />
    
    <target name="DebugFile" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}_Debug.txt"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

    <target name="FatalFile" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}_Fatal.txt"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

    <!--<target name="eventlog" xsi:type="EventLog"
        source="Lab_Of_NLog" log="Application"
        layout="${date}: ${message} ${stacktrace}" />-->
  </targets>

  <rules>
    <!-- 一般使用紀錄 -->
    <!-- 追蹤-->
    <logger name="*" level="Trace" writeTo="NormalFile" />
    <!-- 開發-->
    <logger name="*" level="Debug" writeTo="DebugFile" />
    <!-- 訊息-->
    <logger name="*" level="Info" writeTo="NormalFile" />
    <!-- 警告-->
    <logger name="*" level="Warn" writeTo="NormalFile" />
    <!-- 錯誤 -->
    <logger name="*" level="Error" writeTo="NormalFile" />
    <!-- 致命錯誤 -->
    <logger name="*" level="Fatal" writeTo="FatalFile" />
    <!-- 記錄至系統 -->
    <!--<logger name="*" level="Fatal" writeTo="eventlog" />-->

  </rules>
</nlog>
